body {
	padding-top: 80px;
	max-width: 100%;
  	max-height: 100%;
  	margin: auto;
    background-repeat: no-repeat;
    background-image: url(../images/background.jpg);
    background-size: cover;
  	background-attachment: fixed;
  	color: white;
}

#logo {
	padding-right: 80px;
}