@font-face {
	font-family: "Montserrat";
	src: url(../fonts/Montserrat.ttf);
}

@font-face {
	font-family: "Raleway";
	src: url(../fonts/Raleway.ttf);
}

body {
  	padding-top: 56px;
  	background-color: #000000;
  	background-size: cover;                     
  	background-repeat: no-repeat;
  	background-attachment: fixed;
}

#logo {
	padding-right: 120px;
}

.contentBackground img {
	position: fixed;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	opacity: 0.4;
	z-index: -1;
}

#videoTitle {
	font-family: "Montserrat";
	font-size: 48px;
	font-weight: bold;
	color: #ffff00;
	padding-left: 250px;
}

.video {
	padding-top: 10px;
	padding-bottom: 50px;
	/*left: 4.5%;*/
}

.leftBar.jumbotron {
	background: #a1a1a1;
	border-style: solid;
	border-width: 5px;
	border-color: white;
    -webkit-background-size: 100% 100%;
    -moz-background-size: 100% 100%;
    -o-background-size: 100% 100%;
    background-size: 100% 100%;
	/*left: 4%;*/
}

.rightBar.jumbotron {
	background: #a1a1a1;
	border-style: solid;
	border-width: 5px;
	border-color: white;
    -webkit-background-size: 100% 100%;
    -moz-background-size: 100% 100%;
    -o-background-size: 100% 100%;
    background-size: 100% 100%;
	/*right: 4%;*/
}

.info {
	padding: 5px;
	padding-bottom: 10px;
	font-family: "Raleway";
	font-size: 18px;
}

.info.type {
	font-size: 32px;
	font-weight: bold;
	color: #0000aa;
}

.info.genre {
	font-size: 32px;
	font-weight: bold;
	color: #0000aa;
}

.info.views {
	font-size: 28px;
	color: #ffff00;
}

#sinossi {
	margin: auto;
	margin-bottom: 20px;
	padding: 10px;
	background: white;
	border-style: solid;
	border-width: 3px;
	border-color: blue;	
}

#valutation {
	margin: auto;
	margin-bottom: 20px;
	padding: 10px;
}