@font-face {
	font-family: "big_noodle_titling";
	src: url(../fonts/big_noodle_titling.ttf);
}

@font-face {
	font-family: "Raleway";
	src: url(../fonts/Raleway.ttf);
}

body {
  	padding-top: 56px;
  	background-image: url(../images/profiloBackground.jpg);
  	background-size: cover;                     
  	background-repeat: no-repeat;
  	background-attachment: fixed;
  	max-width: 100%;
  	max-height: 100%;
  	margin: auto;
}

#logo {
	padding-right: 80px;
}

.actionBtn {
	cursor: pointer;	
}

#main {
	margin-top: 4rem;
	margin-bottom: 10rem;
	color: white;
}

.info {
	font-weight: 800;
	margin-right: 10px;
	color: yellow;
}

.emp-profile {
    padding: 3%;
    border-radius: 0.5rem;
    background: #fff;
}

#mainEmp.emp-profile {
	margin-top: 3%;
}

.secondaryEmp.emp-profile {
	margin-bottom: 3%;	
}

#secondaryContainer {
	padding-bottom: 56px;
}

.profile-img {
    text-align: center;
}

.profile-img img {
    width: 70%;
    height: 100%;
}

.profile-img .file {
    position: relative;
    overflow: hidden;
    margin-top: -20%;
    width: 70%;
    border: none;
    border-radius: 0;
    font-size: 15px;
    background: #212529b8;
}

.profile-img .file input {
    position: absolute;
    opacity: 0;
    right: 0;
    top: 0;
}

.profile-head h5 {
    color: #333;
}

.profile-head h6 {
    color: #0062cc;
}

.profile-edit-btn {
    border: none;
    border-radius: 1.5rem;
    width: 70%;
    padding: 2%;
    font-weight: 600;
    color: #6c757d;
    cursor: pointer;
}

.proile-rating {
    font-size: 12px;
    color: #818182;
    margin-top: 5%;
}

.proile-rating span {
    color: #495057;
    font-size: 15px;
    font-weight: 600;
}

.profile-head .nav-tabs {
    margin-bottom:5%;
}

.profile-head .nav-tabs .nav-link {
    font-weight:600;
    border: none;
}

.profile-head .nav-tabs .nav-link.active {
    border: none;
    border-bottom:2px solid #0062cc;
}

.profile-work {
    padding: 14%;
    margin-top: -15%;
}

.profile-work p {
    font-size: 12px;
    color: #818182;
    font-weight: 600;
    margin-top: 10%;
}

.profile-work a {
    text-decoration: none;
    color: #495057;
    font-weight: 600;
    font-size: 14px;
}

.profile-work ul {
    list-style: none;
}

.profile-tab label {
    font-weight: 600;
}

.profile-tab p {
    font-weight: 600;
    color: #0062cc;
}

#cambiaImmagineForm {
	padding-top: 4px;
}

#textInfoTitle {
	font-size: 32px;
}